body {
    background: #020617;
    color: white;
    text-align: center;
    padding-top: 100px;
    font-family: Arial;
}

.panel {
    background: #1e293b;
    width: 300px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
}
